<head>
<meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<script type="text/javascript" src="view/home.js"></script>
<div ng-controller="home">
	<div class="container" id="content">
		<div class="row" style="margin-top:-65px;margin-bottom:20px;" >
			<div class="col-lg-12 section" id="slogan">
				<center><img src="images/slogan.png" class="img-responsive"/></center>
			</div>
		</div>
		<div class="row" id="rowtop">
			<div class="col-md-4">
				<a href="http://www.youtube.com/embed/1sDOji33jPk" id="youtube"><img class="img-responsive img-rounded img-video" src="images/video.png"  border="0"></a>
				<!-- take out img-rounded if you don't want the rounded corners on the image -->
			</div>
			<div class="col-md-8">
				<h1>Code Editor</h1>
				<p>CodeEditor is a web application that helps programmer to create and see the result of
					the executed program by terminal, real-time collaboration with other programmers by chat or
					invite to join the same file and manage the code such as import, export, shared
					files. Currently CodeEditor only supports C, C ++, and Java programming languages. CodeEditor
					has main features: provide workspace to make, execute and build the source code,
					real-time collaboration, chat, and build the terminal.
				</p>
			</div>
		</div>
		<div class="row" id="rowmiddle">
			<div class="col-md-6">
				<h2 style="float:left; width:70%;">What is CodeEditor?</h2>
				<p style="float:left; width:70%;">Web application that provides workspace to create the program code, perform, display the results of the code through the terminal, and collaborate with other users in real-time.</p>
				<img src="images/tanya.png" style="float:left;margin-left:20px;"/>
			</div>
			<div class="col-md-6">
				<h2 style="float:right; width:65%;">Why Use It?</h2>
				<p style="float:right; width:65%;">Real-time code editor, chat with other programmers, see your program results in terminal, download and upload your files. All integrated in this application.</p>
				<img src="images/gear.png" style="float:right;margin-right:5px; "/>
			</div>
		</div>
	</div>
	<footer>
		<div class="row" id="bfooter">
			<div class="col-md-3">
				<p><img src="images/logo.png" class="img-responsive" style="margin-top:20px"/></p>
			</div>
			<div class="col-md-6" id="footermid">
				<p><h4 style="margin-left:13px;">Code Editor</h4></p>
				<div class="col-md-4">
					<p><a href="#/home">Home</a></p>
					<p><a href="#/features">Features</a></p>
				</div>
				<div class="col-md-4">
					<p><a href="#/contact">Contact Us</a></p>
					<p><a href="#">Term</a></p>
				</div>
				<div class="col-md-4">
					<p><a href="#">Documentation</a></p>
				</div>
			</div>
			<div class="col-md-3">
				<p><h4 class="follow">Contact Us :</h4></p>
				<p class="follow"><a href="#"><img src="images/twitter.png" style="margin-right:7px;"/>Twitter</a></p>
				<p class="follow"><a href="#"><img src="images/fb.png" style="margin-right:10px;"/>Facebook</a></p>
				<p class="follow"><a href="mailto:codeeditor14@gmail.com"><img src="images/mail.png" style="margin-right:10px;"/>codeeditor14@gmail.com</a></p>
			</div>
		</div>
		<div class="row" id="footer">
			<div class="col-lg-12" style="text-align:center">
				<p>Copyright &copy; 2014 CodeEditor. All rights reserved</p>
			</div>
		</div>
	</footer>
</div>
